<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/styles.css' %}">

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>

</head>

<body >

    {% include 'signtext/navbar.html' %}
   <div class="community-body">
    <div class="community-header">
        <h1>Join a community designed to help you grow as a <br> <span style="color:  #0d6efd; text-decoration: underline;">GSL singer.</span> </h1>
        
    </div>
    <br>
    <p style="text-align: center; font-size: 20px; font-weight: 100px;">Find interpreters, meet, share, learn and grow with over 80+ ambitious GSL signers and interpreters across Ghana. </p>

    <br>
    <div style="text-align: center;">
        <button style=" padding: 15px; background-color: rgb(255, 218, 149);" class="btn">
            <a style="font-weight: bold;"  class="nav-link" href="{% url 'community_chat' %}">SignTalk community</a>
          </button>
        <button style="padding: 15px;" class="btn btn-outline-primary">Learn more</button>
    </div>
   </div>
</body>

</html>