<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/styles.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>

</head>

<body>

  <div class="home-grid">
    <div class="home-header">
      <h1>SignTalk</h1>
    <p>  Bridging the communication gap for effective communication between the speech and hearing impaired and doctors.

    </p>

    <a  href="{% url 'select_user'  %}" class="btn btn-outline-primary">
      <div style="padding: 10px 50px; font-size: 20px;">
      Get Started Now
    </div></a>


    <!-- <a href="{% url 'signtext'  %}" class="btn btn-primary">Sign To Text</a>
    <a href="{% url 'textsign'  %}" class="btn btn-primary">Text / Speech To Sign</a>
    <a href="{% url 'learn'  %}" class="btn btn-primary">Learning Hub</a> -->
    </div>
    <div>
      <img style="width: 100%; " src="https://speaksign.netlify.app/img/person.png" alt="">
      
      
    </div>
  </div>


</body>

</html>