<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- As a link -->
    <nav style="padding: 20px 50px;" class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="font-weight: bold;" class="navbar-brand" href="{% url 'home' %}">SignTalk</a>
      
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <button style="background-color: rgb(255, 218, 149);" class="btn">
                <a style="font-weight: bold;" class="nav-link" href="{% url 'community' %}">Join the community</a>
              </button>
            </li>
            <li class="nav-item">
              <button class="btn" ><a class="nav-link" href="#">About Us</a></button>
            </li>
            <li class="nav-item">
             <button class="btn">
                <a class="nav-link" href="#">Join Us</a>
             </button>
            </li>
          </ul>
        </div>
      </nav>
    
</body>
</html>