<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/styles.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/kalidokit@1.1/dist/kalidokit.umd.js"></script>

    <title>Document</title>

</head>

<body>

    <div class="title">
        <a href="{% url 'signtext' %}">
            <button class="btn btn-primary action-buttons">
                <p>Switch to text-to-sign</p>
            </button>
        </a>

        <h1 style="color: #0275d8;">Text to Ghanaian Sign Language</h1>
        <a href="{% url 'select_solution' %}">
            <button class="btn btn-dark action-buttons">
                <p>Main menu</p>
            </button>
        </a>
    </div>

    <!-- {{ sentence }} -->

    <div class="text-grid">

        <div>
            <form method="GET" action="{% url 'textsign' %}">
                {% csrf_token %}
                <input placeholder="Enter text" name="q" class="textarea" type="text">
            </form>

            <div class="examples-wrapper">
                <p> Examples:</p>
                <ul>
                <li>Please take a deep breath</li>
                <li>We recommend you stay overnight for observation</li>
                <li>Are you experiencing any pain ? </li>
                <li>Can you tell me more about your symptoms ?</li>
            </ul>
            </div>

        </div>

        <div>
            {% if word %}
            <img style="border-radius: 50px;" class="gif-img" src="../../static/gifs/{{word}}" alt="">
            {% else %}
            <img class="text-img" src="../../static/images/avatarme.png" alt="">
            
            {% endif %}

            <div class="avatar-btn">
                <button class="btn btn-primary " >3D Avatar</button> 
                <button class="btn btn-secondary " >Synthetic Human</button>
                <button class="btn btn-danger" >Pose Landmarks</button>
            </div>
        </div>
        

    </div>

</body>

</html>